@charset "UTF-8";

/* declarações gerais */

@media all {
    * {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    html,
    body {
        background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    }

    h1 {
        color: #fff;
        padding: 0.7rem;
        text-shadow: 2px 2px 2px #13218d;
    }
}

/* declarações retrato */

@media screen and (orientation: portrait) {
    body {
        background-image: url("../images/cev-portrait.jpg");
        background-position: center bottom;
    }
}

/* declarações paisagem */

@media screen and (orientation: landscape) {
    body {
        background-image: url("../images/cev-landscape.jpg");
        background-position: left bottom;
    }
}