@charset "UTF-8";

/* Versão Mobile First */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    background: black url("../images/back-phone.jpg") center center / cover no-repeat;
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: .6rem;
    margin: auto;
    margin-top: 1.2rem;
    padding: .6rem;
    width: 25rem;
}

h1, h2 {
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding-top: .3rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

h2 {
    font-size: 1.5em;
}

h2::after {
    content: "dispositivos móveis";
}

img {
    display: block;
    margin: auto;
}

img#phone { display: block; }
img#tablet { display: none; }
img#print { display: none; }
img#pc { display: none; }
img#tv { display: none; }