@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: lightgray;
    overflow-x: hidden;
    width: 100%;
}

header {
    background-color: darkgray;
    text-align: center;
}

header > h1 {
    padding: .6rem;
} 

#icon {
    background-color: rgb(56, 56, 56);
    color: white;
    display: block;
    padding: .6rem;
    user-select: none;
}

nav {
    display: none;
}

nav > ul {
    list-style: none;
}

nav > ul > li > a {
    background-color: rgb(87, 87, 87);
    border-top: 1px solid gray;
    color: white;
    display: block;
    padding: .6rem;
    text-decoration: none;
}

nav > ul > li > a:hover {
    background-color: gray;
}

main {
    background-color: white;
    border-radius: .5rem;
    margin: auto;
    margin-top: .7rem;
    padding: .7rem;
    width: 85%;
}

article > h2 {
    font-size: 1.2em;
    padding-bottom: 1rem;
}

article > p {
    margin-bottom: 1.3rem;
    text-align: justify;
    text-indent: 1.3rem;
}